.portfolioNav {
    z-index: 1;
    position: fixed;
    background-color: #172A3A;
    font-family: "Roboto", sans-serif;
    line-height: 130%;
    height: 54px;
    width: 100%;
    border-radius: 0 0 19px 19px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    button {
        all: unset;
    }

    a,button {
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: #FFF;
    }

    a:hover, button:hover {
        cursor: pointer;
        color: #09BC8A;
        transition: color 250ms ease-in-out;
    }
    
    .access,
    .exit, button {
        position: absolute;
        right: 16px;
        display: flex;
        align-items: center;
        margin-left: auto;
        float: right;
        gap: 10px;
    }

    .userThumbnail {
        width: 38px;
        height: 38px;
        border-radius: 19px;
    }
}

@media (max-width: 768px){
    .portfolioNav {
        box-sizing: border-box;
        justify-content: flex-start;
        gap: 10px;
        padding: 0 8px;

        a, .access, .exit {
            font-size: 12px;
        }
    }
}