.experienceSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #004346;
    box-sizing: border-box;
    padding: 64px 128px;
    width: 100vw;
    gap: 42px;

    button,
    h2,
    h3,
    h4,
    p,
    b {
        font-family: "Roboto", sans-serif;
        line-height: 130%;
        color: #FFF;
    }

    h2 {
        font-size: 32px;
        font-weight: 800;
    }

    .carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px;

        .card {
            position: relative;
            background-color: #508991;
            box-shadow: 4px 5px 0px 0px #09BC8A;
            border: #172A3A solid 2px;
            border-radius: 14px;
            min-width: 250px;
            overflow: hidden;
        }

        .cardContent {
            display: flex;
            flex-direction: column;
            padding: 22px;
            gap: 10px;

            h3 {
                font-size: 22px;
                font-weight: 800;
            }

            h4 {
                font-size: 14px;
                font-weight: 600;
                color: #D1D5DB;
            }

            span {
                display: flex;
                width: 100%;
                gap: 10px;

                b {
                    padding: 8px;
                    background-color: #172A3A;
                    border-radius: 4px;
                    font-size: 10px;
                    font-weight: 700;
                }
            }

            button {
                background-color: #172A3A;
                border-radius: 6px;
                border: none;
                height: 40px;
                font-weight: 700;
            }

            button:hover {
                cursor: pointer;
            }
        }

        .cardButtons {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            display: none;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr;

            span{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #09BC8A;
                width: 100%;
                height: 100%;
            }

            .edit{
                background-color: #38646F;
            }
            .delete{
                background-color: #795C5C;
            }
            .edit:hover, .delete:hover {
                cursor: pointer;
            }
        }

        .card:hover{
            .cardContent{
                z-index: -1;
            }
            .cardButtons {
                display: grid;
            }
        }

        .addCard {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            padding: 22px;
            height: 100%;
            gap: 10px;
            color: #FFF;

            h3 {
                font-weight: 800;
                font-size: 22px;
            }
        }
        .addCard:hover {
            cursor: pointer;
            color: #09BC8A;
            h3 {
                color: inherit;
            }
        }
    }

    .experience:hover {
        .card{
            visibility: hidden; 
        }
        .cardHover {
            display: block;

        }
    }
}

@media (max-width: 768px) {
    .experienceSection {
        .carousel {
            grid-template-columns: 1fr;
        }
    }
}